.root {
	box-shadow: none !important;
}

.productHolder {
	display: grid;
	box-shadow: none !important;
	grid-template-columns: repeat(auto-fill, minmax(300px, 50%));
	padding-top: 36px;
}

.productHolder div {
	padding: 12px;
	width: 100%;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left > div {
	width: 100%;
}

.image {
	max-width: 300px !important;
}

.description {
	text-align: left;
	padding-right: 12px;
}

.image > img {
	width: 100%;
	margin: auto;
}

.rating {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
}

.rating > div {
	padding: 0 !important;
	text-align: left;
}

.ratingBox {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	text-transform: capitalize;
	flex-direction: column;
	padding-right: 12px;
}

@media screen and (max-width: 800px) {
	.image {
		max-width: 300px;
	}
}
